$borderRadius: 15px;
$btnBordeRadius: 10px;
$fontFamily: 'Red Hat Display';
$priceFontSize: 14px;
$brightBlue: hsl(245, 75%, 52%);
$darkBlue: hsl(223, 47%, 23%);
$paleBlue: hsl(225, 100%, 94%);
$veryPaleBlue: hsl(225, 100%, 98%);

body {
    font-family: $fontFamily;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $paleBlue;
}

main {
    padding: 50px 30px;
    max-width: 30rem;
}

.card {
    border-radius: $borderRadius;
    img {
        width: 100%;
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
    }
    
}

.card-title {
    font-size: 25px;
    font-weight: 900;
    margin: 20px 0;
}

.card-body {
    text-align: center;
    padding: 20px;
}

.card-text {
    font-size: 0.95rem;
    line-height: 1.8;
    opacity: 0.8;
    padding: 0 10px;
}

.price-box {
    text-align: left;
    background-color: $veryPaleBlue;
    border-radius: $borderRadius;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    margin: 25px 0;
    a {
        color: $brightBlue;
        font-weight: 700;
        font-size: 12px;
        &:hover {
            color: hsla(245, 75%, 52%, 0.637);
            text-decoration: none;
        }
    }
}

.price-text {
    margin: 0 15% 0 0;
    h6 {
        font-size: $priceFontSize;
        font-weight: 900;
        margin-bottom: 0;
    }
    span {
        font-size: $priceFontSize;
        font-weight: 500;
        opacity: 0.8;
    }
}

.btn {
    font-weight: 700;
    padding: 13px 0;
    font-size: 14px;
}

.payment-btn {
    color: hsl(0, 0%, 100%);
    background-color: $brightBlue;
    border-radius: $btnBordeRadius;
    box-shadow: 0px 30px 35px -10px rgb(148, 173, 243);
    margin-bottom: 10px;
    &:hover {
        color: hsl(0, 0%, 100%);
        background-color: hsla(245, 75%, 52%, 0.637);
    }
}


.cancel-btn {
    color: hsla(0, 0%, 0%, 0.74);
}

@media (min-width: 500px) {
    main {
        margin: 50px auto;
    }

    .card {
        box-shadow: 0px 30px 35px -10px hsl(224deg, 15%, 85%);
    }

    .card-body {
        padding: 20px 35px;
    }

    .card-text {
        font-size: 16px;
        padding: 0;
    }

    .price-box {
        a {
            font-size: $priceFontSize;
        }
    }

    .price-text {
        margin: 0 25% 0 0;
    }
}